html{
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;

}

.app__videos{
    position:relative;
    height: 650px;
    overflow: scroll;
    width:80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

/* hide Scrollbar for chrome, safari and opera */
.app__videos::-webkit-scrollbar{
    display: none;
}

/* hide scrollbar for internet explorer edge and firefox */
.app__videos{
    -ms-overflow-style:none;
    scrollbar-width: none;
}